mixin navigation(dataObj)
	.nav-content
		.logo
			a(href="#")
				img(src="img/logo.png", alt="logo")
		button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
			span toggle menu
		.header-nav
			ul
				li(href="#")
					a(href="#") О компании
				li(href="#")
					a(href="#") Виды грузоперевозок
				li(href="#")
					a(href="#") Рассчитать стоимость
	
	.contacts
		+contactBlock([{link: "#", text:'+7(999)999-99-99', iconClass: 'fas fa-phone-alt'}, {link: "#", text:'info@mail.com', iconClass: 'fas fa-envelope'}])
		
	+pageBtn('button', 'Заказать звонок', 'page-btn--header')
	
mixin header(addClass)
	.header(class=" "+ addClass)
		.container
			.header-content
				.logo
					a(href="#")
						img(src="img/logo.png", alt="logo")
				button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
					span toggle menu
				.header-nav
					ul
						li(href="#")
							a(href="#") О компании
						li(href="#")
							a(href="#") Виды грузоперевозок
						li(href="#")
							a(href="#") Рассчитать стоимость
				
				.contacts
					+contactBlock([{link: "#", text:'+7(999)999-99-99', iconClass: 'fas fa-phone-alt'}, {link: "#", text:'info@mail.com', iconClass: 'fas fa-envelope'}])
					
				+pageBtn('button', 'Заказать звонок', 'page-btn--header')
mixin pageBtn(tag, text, addClass, link)
	if tag =='a'
		#{tag}.page-btn(class=" "+addClass href = link) #{text}
	else
		#{tag}.page-btn(class=" "+addClass) #{text}

// contact item
mixin contactBlock(items)
	nav.contacts-list
		each item in items
			if item.link
				a(href=" "+item.link).contact-list__item
					span.contact-list__icon
						i(class=" "+ item.iconClass)
					span #{item.text}
			else
				.contact-list__item
					span.contact-list__icon
						i(class=" "+ item.iconClass)
					span #{item.text}